body {
  font-family:Arial;
  font-size:13px;
}
#divContenedor {
   position:relative;
  height:124px;
  width:340px;
  margin:0 auto;
  background-color:blue;
}
#divTitulo, #lbl1, #txt1, #lbl2, #txt2, #btnSubmit {
   position:absolute;
}
#divTitulo {
  height:16px;
  width:340px;
  color:yellow;
  text-align:center;
  font-weight:bold;
  background-color:red;
}
#lbl1, #lbl2 {
  width:70px;
  background-color:lightgray;
}
#txt1, #txt2 {
  width:200px;
  border:1px solid black;
}
#lbl1 {
  top:33px;
  left:30px;
}
#txt1 {
  top:30px;
  left:104px;
}
#lbl2 {
  top:63px;
  left:30px;
}
#txt2 {
  top:60px;
  left:104px;
}
#btnSubmit {
  width:110px;
  top:90px;
  left:120px;
  cursor:pointer;
}
form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 1em;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 1em;
  background: url("13.jpg");
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-register {
width: 400px;
background-color: #000;
padding: 30;
margin: auto;
margin-top: 100;
border-radius: 4px;
font-family: "calibri";
color: white;
box-shadow: 7px 13px 37px #00000000;
}
.form-register {
  font-size: 22px;
}
form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 93px;
  text-align: right;
}

input,
textarea {
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font: 1em sans-serif;

  /* Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: .5em;
}